<div class="login-card">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Add a race</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
             fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="name" name="name">
          </mat-form-field>

          <mat-form-field fxFlex class="example-full-width">
            <input matInput [matDatepicker]="startDate" placeholder="Choose a Start date"
                   [(ngModel)]="startDate2" name="startDate2">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="input-row">
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)=add() color="primary">Add</button>
      <button mat-raised-button (click)=cancel() color="accent">Cancel</button>

    </mat-card-actions>
  </mat-card>
</div>


