<hr>
<hr>
<hr>

<hr>

<hr>
<hr>

<!--

<div *ngFor="let user of users | async; let i = index">
  &lt;!&ndash;<app-about [user]='user'></app-about>&ndash;&gt;
  {{user.brand}}
  {{user.cars[i].brand}}
</div>
-->

<!--
<mat-list>
<ul *ngFor="let user of users | async">
  <li>{{ user.brand }}</li>
  <ul>
    <li *ngFor="let car of user.cars">
      {{ car.brand }} - {{car.color}} {{car.power}}
    </li>
  </ul>
</ul>
</mat-list>

-->




<!--<mat-list role="list">
  <h2>Lists of Users</h2>

    <ul class="left" role="listitem" mat-list-item *ngFor="let user of users | async">
      <h2 mat-subheader>{{ user.brand }}</h2>
      <ul>
      <li class="right" role="listitem" mat-list-item *ngFor="let car of user.cars">
          <h4 mat-line> {{ car.brand }}</h4>
          <p mat-line> {{car.color}} </p>
          <p mat-line> {{car.power}} </p>
      </li>
      </ul>
    </ul>
</mat-list>-->





<!--  <h3 mat-subheader>Users</h3>-->

  <!--<mat-divider></mat-divider>-->
<!--  <h3 mat-subheader>Cars</h3>-->


<!--

<mat-list role="list">
  <mat-list-item class="left" role="listitem" *ngFor="let user of users | async">
    <h4 mat-line>{{ user.brand }}</h4>
  <mat-list-item class="right" role="listitem" *ngFor="let car of user.cars">
    <h4 mat-line> {{ car.brand }}</h4>
    <p mat-line> {{car.color}} </p>
    <p mat-line> {{car.power}} </p>
  </mat-list-item>
  </mat-list-item>
</mat-list>
-->

<!--<mat-nav-list>
  <a mat-list-item *ngFor="let user of users | async">
    <h4 mat-line>{{ user.brand }}</h4>

    <mat-divider></mat-divider>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="brand">Car Brand</th>
        <th mat-sort-header="calories">Color</th>
        <th mat-sort-header="fat">Power (kw)</th>
      </tr>

      <tr *ngFor="let car of user.cars">
        <td>{{ car.brand }}</td>
        <td>{{car.color}}</td>
        <td>{{car.power}}</td>
      </tr>
    </table>
  </a>
</mat-nav-list>-->
<!--<mat-nav-list>

&lt;!&ndash;<div mat-list-item *ngFor="let user of users | async; let i=index">&ndash;&gt;

  <div mat-list-item *ngFor="let user of users | async; let i=index">
  <h3 mat-line >{{ user.brand }}</h3>

  <table matSort (matSortChange)="sortData($event)" >
    <tr>
      <th mat-sort-header="brand">Car Brand</th>
      <th mat-sort-header="calories">Color</th>
      <th mat-sort-header="fat">Power (kw)</th>
    </tr>

    <tr *ngFor="let car of user.cars" >
      <td>{{ car.brand }}</td>
      <td>{{car.color}}</td>
      <td>{{car.power}}</td>
    </tr>
  </table>

  </div>
&lt;!&ndash;  <button mat-raised-button (click)="showAllTooltips()"> Show / hide Cars </button>&ndash;&gt;
&lt;!&ndash;</div>&ndash;&gt;

</mat-nav-list>-->



<mat-list role="list" >

  <a  role="listitem" *ngFor="let user of users;  let i=index">
    <h3 mat-line >{{ user.name }}</h3>

    <table matSort (matSortChange)="sortData($event)" >
      <tr>
        <th mat-sort-header="name">Car Brand</th>
        <th mat-sort-header="calories">Color</th>
        <th mat-sort-header="fat">Power (kw)</th>
      </tr>

      <tr *ngFor="let car of user.cars" >
        <td>{{ car.brand }}</td>
        <td>{{car.color}}</td>
        <td>{{car.power}}</td>
      </tr>
    </table>
  </a>
</mat-list>

