<hr>
<hr>
<hr>

<hr>

<hr>
<hr>

<mat-list role="list" >

  <a  role="listitem" *ngFor="let user of users;  let i=index">
    <h3 mat-line >{{ user.name }}</h3>

    <table matSort (matSortChange)="sortData($event)" >
      <tr>
        <th mat-sort-header="name">Car Brand</th>
        <th mat-sort-header="calories">Color</th>
        <th mat-sort-header="fat">Power (kw)</th>
      </tr>

      <tr *ngFor="let car of user.cars" >
        <td>{{ car.brand }}</td>
        <td>{{car.color}}</td>
        <td>{{car.power}}</td>
      </tr>
    </table>
  </a>
</mat-list>

