<app-edit-race *ngIf="selectedTabIndex==0" ></app-edit-race>

<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectChange)="onSelectChange($event)">
  <mat-tab label="All">

    <mat-nav-list>
      <mat-list-item (click)="menuTrigger.openMenu()"  *ngFor="let race of races; trackBy:indexTracker; let i= index">
        <div mat-line  [style.background-color]="race.userIds.indexOf(user.id) ? '':'green' ">{{race.name}}</div>

        <p mat-line>
          {{race.startDate }}
        </p>
        <button mat-icon-button #menuTrigger="matMenuTrigger"   [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onOpenMenuView(race.id)">View race detail </button>
        <button mat-menu-item (click)="onOpenMenuJoin({id_race:race.id, position:i})">Join</button>
        <button mat-menu-item (click)="onOpenMenuDelete({id_race:race.id, position:i})">Delete</button>
      </mat-menu>

      </mat-list-item>
    </mat-nav-list>

  <!--  </ng-template>-->
  </mat-tab>
  <mat-tab  (click)="OpenTab()" label="My Races">
    <mat-nav-list>
      <mat-list-item (click)="menuTrigger.openMenu()"  *ngFor="let myRace of myRaces">
        <div mat-line>
          {{ myRace.name }}
        </div>
        <p mat-line>
          {{myRace.startDate }}
        </p>
        <button mat-icon-button #menuTrigger="matMenuTrigger"   [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onOpenMenu(myRace.name)">View race detail </button>
          <button mat-menu-item (click)="onOpenMenu(myRace.name)">Add on my races</button>
        </mat-menu>

      </mat-list-item>
    </mat-nav-list>
  </mat-tab>
</mat-tab-group>
