.mat-tab-group{
  justify-content: center;
}


::ng-deep .mat-tab-labels {
  justify-content: center;
  padding: 0px 7px !important;
  font-size: 20px !important;
}

::ng-deep .mat-tab-label {
  justify-content: center;
  padding: 0px 7px !important;
  font-size: 12px !important;
  min-width: 85px !important;

}
