
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title >Race detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3 mat-line >Race name: {{race.name }}</h3>
      <h3 mat-line >Start date: {{race.startDate }}</h3>


      <mat-list role="list" *ngFor="let user of race.users ;let i=index"> <mat-list-item role="listitem">
        <button mat-button>
          Competitor: {{i}}: {{user.name}}
        </button>
      </mat-list-item>

      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  (click)=joinRace(race.id) color="primary">Join
        <!--<app-hearder  [currentUser]='username'></app-hearder>-->
      </button>

<!--      <button mat-raised-button (click)=deteleRace(race.id, i) color="accent">Delete race
        &lt;!&ndash;<app-hearder  [currentUser]='username'></app-hearder>&ndash;&gt;
      </button>-->

    </mat-card-actions>
  </mat-card>





